# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*.bat
CREDITS-fml.txt
forge-1.12.2-14.23.1.2604-changelog.txt
forge-1.12.2-14.23.2.2629-changelog.txt
forge-1.12.2-14.23.3.2669-changelog.txt
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
*.txt
