# Configuration file

bosses {
    I:"Dimension ID the Ancient Entity can be summoned in (Default is the Overworld)"=0
    I:"Dimension ID the Ayeraco Horde can be summoned in (Default is the End)"=1
    I:"Dimension ID the King Of Scorchers can be summoned in (Default is the Nether)"=-1
    I:"Dimension ID the Twilight Bosses can be summoned in (Default is Mortum)"=54
    I:"Dimension ID the Watcher can be summoned in (Default is the Nether)"=-1
}


dimension {
    I:"Apalachia biome ID"=102
    I:"Apalachia dimension ID"=52
    I:"Arcana biome ID"=106
    I:"Arcana dimension ID"=56
    I:"Eden biome ID"=100
    I:"Eden dimension ID"=50
    I:"Iceika biome ID"=107
    I:"Iceika dimension ID"=57
    B:"Keep loading Apalachia"=false
    B:"Keep loading Arcana"=false
    B:"Keep loading Eden"=false
    B:"Keep loading Iceika"=false
    B:"Keep loading Mortum"=false
    B:"Keep loading Skythern"=false
    B:"Keep loading The Wildwood"=false
    B:"Keep loading Vethea"=false
    I:"Mortum biome ID"=104
    I:"Mortum dimension ID"=54
    I:"Skythern biome ID"=103
    I:"Skythern dimension ID"=53
    I:"Vethea biome ID"=105
    I:"Vethea dimension ID"=55
    I:"Wildwood biome ID"=101
    I:"Wildwood dimension ID"=51
}


gui {
    I:"Arcana Bar X"=111
    I:"Arcana Bar Y"=18
    B:"Can show overlay in top left corner or debug screen"=true
    B:"Enable a special Thank-You message for installing Divine RPG upon entering a world"=true
}


"iceika worldgen" {
    B:"Generate Archer dungeons in Iceika?"=true
    B:"Generate Rollum dungeons in Iceika?"=true
    B:"Generate a rare 'Santa's House' in Iceika?"=true
    B:"Generate lights in Iceika?"=true
    B:"Generate workshop houses in Iceika?"=true
}


"overworld worldgen" {
    B:"Generate divine trees in the Overworld?"=true
    B:"Generate livestock merchant huts in the Overworld?"=true
    B:"Generate tar lakes in the Overworld?"=true
}


updates {
    B:"Check For Updates"=true
}


"vethea inventory" {
    B:"Enable Vethea-exclusive inventory system"=true
}


"vethea worldgen" {
    B:"Generate Crypts in Vethea?"=true
    B:"Generate Evergardens in Vethea?"=true
    B:"Generate Floating Villages in Vethea?"=true
    B:"Generate Hive Nests in Vethea?"=true
    B:"Generate Karos Madhouses in Vethea?"=true
    B:"Generate Pyramids in Vethea?"=true
    B:"Generate Quadrotic Posts in Vethea?"=true
    B:"Generate Raglok Chambers in Vethea?"=true
    B:"Generate Wreck Halls in Vethea?"=true
}


